:root {
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    --background-color: rgb(20, 20, 20);
    --secondary-color: rgb(40, 40, 40);
    --text-color: white;
    --header-height: 3rem;
    --footer-height: 2rem;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    font-variant-caps: all-small-caps;
}

header>h1 {
    align-content: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
    height: calc(100% - (var(--header-height) + var(--footer-height)));
    padding: 0 10px;
}

main>h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}

footer {
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--secondary-color);
}

footer>span:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#converter>input:last-of-type {
    margin: 0 0 20px 0;
}