main {
    display: flex;
    justify-content: center;
    min-height: 600px;
}

#cash-register #display {
    position: relative;
    left: 70px;
    background-color: var(--background-color);
    height: 40px;
    width: 120px;
    border: 5px var(--text-color) solid;
    border-radius: 5px;
    text-align: center;
}

#cash-register #pole {
    position: relative;
    left: 130px;
    background-color: var(--text-color);
    height: 40px;
    width: 30px;
}

#cash-register #body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--text-color);
    height: 200px;
    width: 200px;
    border-radius: 20% 20% 2% 2%;
}

#cash-register>#body>#keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 100px;
    width: 80px;
    margin-left: 10px;
}

#cash-register>#body>#keyboard>span {
    margin-top: -30px;
    color: var(--background-color);
    width: 70px;
    font-size: 25px;
    font-variant-caps: all-small-caps;
    text-align: center;
}

#cash-register>#body>#keyboard>.key,
#purchase-btn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#purchase-btn {
    width: 70px;
}

#cash-register>#body>#screen {
    background-color: var(--background-color);
    border-radius: 5px;
    width: 50%;
    height: 80%;
    margin-right: 10px;
    overflow: auto;
}

#cash {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0;
    width: 100%;
    margin-top: 7px;
}

#change-due {
    margin: 5px;
}

#cash-register>#drawer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

#cash-register>#drawer>#lock {
    background-color: var(--secondary-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#cash-register>#money-in-drawer {
    width: 190px;
    color: var(--text-color);
    border: 5px solid var(--text-color);
    border-radius: 5px;
    margin-top: 10px;
    display: none;
    flex-direction: column;
}

#cash-register>#money-in-drawer>span {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

#cash-register>#money-in-drawer>#change-in-drawer {
    display: block;
    width: 100%;
    font-variant-caps: all-small-caps;
    text-align: center;
}